* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
}



.header-container {
    display: flex;
    flex-direction: column;
    position: fixed;

    background-color: white;
    padding-bottom: 0.813rem;
    width: 100%;


}


.logo-link {
    width: 9.688rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}



.menu-container {
    /*    width: 100%; */
    display: flex;
    justify-content: center;

}

.menu {
    word-spacing: 1.25rem;

}


.menu ul {
    word-spacing: -20px;

}

.menu ul li {
    list-style: none;
    display: inline-block;

}

.menu a {
    text-decoration: none;
    font-size: 1rem;
    color: #4a4a4a;
    text-transform: uppercase;
    padding: 10px;

}


.main-container {
    background-color: #3CDBC0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.title {
    color: #FFFFFF;
    text-align: center;
    font-size: 1.875rem;
    text-transform: capitalize;
}


@media all and (min-width:768px) {

    .header-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;


    }


    .logo-link {
        padding-left: 30px;
        padding-bottom: 20px;
        padding-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .menu {
        display: flex;
        flex-direction: row;
        margin-right: 30px;
    }

    .menu ul {
        /*  margin-right: 30px;
        margin-left: 260px; */
        font-size: 16px;

    }



    .main-container {
        display: flex;
        flex-direction: row;
        justify-content: center;+-moz-animation: 3..222;

    }


    .title h1 {
        font-size: 40px;
    }


}


/* @media all and (min-width: 1200px) {
    .header-container{
        height: 100vh;
    } */

/* } */